html, body, #graph {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.highlight {  
    background-color: #ffff00;
}

#control-panel {
    background-color: lightgray;
}
#webpage {
    overflow-y: auto;
    max-height: 800px;
    padding-top: 10px;
}

.body-view > p {
    margin: 0 0 5px;
}
.body-view .bold {
    font-weight: bold;
}

.clickable { cursor: pointer; }

.mitie { cursor: pointer; }
.mitie-person { padding: 2px; background-color: #00ccff; }
.mitie-location {  padding: 2px; background-color: #00ff00; }
.mitie-organization {  padding: 2px; background-color: #ffcc33; }
.mitie-misc { padding: 2px; background-color: #c0c0c0; }

.person { padding: 2px; background-color: #00ccff; }
.location {  padding: 2px; background-color: #00ff00; }
.organization {  padding: 2px; background-color: #ffcc33; }
.misc { padding: 2px; background-color: #c0c0c0; }

.chart rect.organization {
    fill: #ffcc33; 
}
.chart rect.location {
    fill: #00ff00; 
}
.chart rect.misc { 
    fill: #c0c0c0; 
}
.chart rect.person {
    fill: #00ccff;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

.chart text.label {
    fill: black;
    font: 10px sans-serif;
    text-anchor: start;
}

#graph {
    position: fixed;
    top: 0px;
}


.node {
    stroke: #fff;
    stroke-width: 1.5px;
}


.link {
    fill: none;
    stroke: #bbb;
}

#target_email_a:hover {
    color: #ffff00;
}

.highlight-td {
    background-color: #ffff00;
}

#hover-menu {
    height: 200px;
    width: 400px;
    z-index: 99;
    float: left;
    top: 60px;
    position: absolute;
    left: -375px;
}

#hover-menu .hover-body {
    background-color: #f0f0f0;
    width: 375px;
    height: 100%;
    float: left;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

#hover-menu .hover-tab {
    background-color: transparent;
    width: 25px;
    height: 40px;
    float: left;
    margin-top: 25px;
}
#hover-menu .hover-tab > div{
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-left: -2px;
    height: 40px;
    width: 25px;
    background-color: #f0f0f0;
    left: -2px;
}

#hover-menu .hover-tab span {
    padding-top: 10px;
    padding-left: 3px;
}

.result_tbody {
    height: 200px;       /* Just for the demo          */
    width: 100%;
   /* overflow-y: auto; */   /* Trigger vertical scroll    */
    overflow-x: auto;  /* Hide the horizontal scroll */
}

.result_thead {
    width: 100%;
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: auto;  /* Hide the horizontal scroll */
}

.result_thead >tr >th {
    border: 1px black solid;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    color: red;
}

#attach-table tbody > tr >td:last-child {
    vertical-align: middle;
    text-align: center;
}

.info-table thead >tr >th {
    border: 1px black solid;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: red;
}

.info-table tbody >tr >td {
    padding: 2px;
    font-size: 12px;
}

.info-table tbody >tr >td:first-child {
    text-align: center;
}

.info-table tbody tr:nth-child(even) {
    background-color: #f0f0f0; 
}

.info-table tbody tr:hover {
    background-color: #ffffae; 
    font-size: 12px;
}


#result_table tbody tr:nth-child(odd) {
    background-color: #f0f0f0; 
}

#result_table tbody tr:hover {
    background-color: #ffffae; 
}


.row-highlight {
    background-color: #ffffae; 
}

.tab-content div {
    margin-top: 3px;
}


/** override bootstrap **/
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

div.bootstrap-growl >span.close {
    color: #000;
}

#cp-toggle > div:first-child {
    top: calc(100% - 25px);
    position: fixed;
    z-index: 25;
}

.toggle-button {
    height: 25px;
    padding-top: 3px;
    background-color: #d3d3d3;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px; 
    text-align: center;
    cursor: pointer;
}

#cp-toggle a {
    color: #111;
}

#cp-toggle a:hover {
    color: #777;
}
.tab-pane { height: 100%;}
#email-body { height: calc(100% - 80px); }
.body-view { height: 100%; overflow-y: scroll; }