.datatable_container {
    width: 100%;
    margin: 0 auto;
}

.datatable {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    cellspacing: 0 !important;
    cellpadding: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: top !important;
    border-spacing: 0 !important;
    font-size: 12px !important;
    line-height: 20px !important;
}

.datatable th {
    font-size: 12px;
}

.datatable td {
    font-size: 12px;
}

.datatable th div.dataTables_sizing {
    font-size: 12px;
}

.dataTables_length {
    font-size: 12px;
}

.dataTables_info {
    font-size: 12px;
}

.dataTables_paginate {
    font-size: 12px;
}